.App {
    text-align: center;
}

.ui.main.container {
    margin-top: 5em;
}

.ui.menu {
    border-radius: 0px !important;
    border: 0px !important;
    box-shadow: none !important;
    margin-top: 5em;
}

.ui.menu .item {
    padding: 8px !important;
    text-align: center;
}

.ui.menu .item h5 {
    text-align: center;
}

.ui.divider {
    margin-bottom: 0 !important;
}

img.ui.image {
    display: inline-block;
}

.ui.main.container {
    margin-top: 5em;
}

.dropdown {
    /* Whatever color  you want */
    /* background-color: #b6c71a; */
    border-radius: 10%;
}

.primary-table {
    background-color: #a16828;
}

a {
    text-decoration: none!important;
    color: rgba(0, 0, 0, .87)!important;
    font-weight: 400;
}

.ui.dropdown{
    color: #000 !important;
    margin-bottom: 10px;
}

Button{
    margin-top: 25px;
}

.ui.icon{
    float: left;
}

.ui.icon.input{
    margin-left: 5%;
    width: 300px;
}